:where(.section) {
  padding: 72px 0;
}

:where(.inner) {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

:where(.header),
:where(.heading) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:where(.header) {
  gap: 16px;
}

:where(.heading) {
  gap: 4px;
}

.centered,
.centered .heading {
  align-items: center;
  text-align: center;
}

:where(.badge) {
  width: fit-content;
  min-height: 40px;
  border-radius: 32px;
  padding: 8px 16px;
  background: var(--landing-gray-50);
  color: var(--landing-gray-800);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0;
  white-space: nowrap;
}

:where(.title) {
  max-width: 410px;
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--landing-gray-800);
}

:where(.description) {
  max-width: 600px;
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--landing-gray-600);
}

@media (min-width: 1440px) {
  :where(.section) {
    padding: 104px 0;
  }

  :where(.title) {
    font-size: 28px;
    line-height: 36px;
  }

  :where(.inner) {
    width: 1360px;
    padding-left: 0;
    padding-right: 0;
  }
}
